body {
 background-color: #c0c5ce; 
}

#infobar {
    margin: 0px -10px;
    padding: 6px 0%;
    overflow: hidden;
    background-color: #404040;
    position: fixed;
    top: 0;
	color: #cccccc;	
	font-size: 20px;
	width: 100%;
	height: 20px;
	line-height: 20px;
	text-align: left;
	font-family: "Arial";

}

#topnavbar li {
    float: left;
    display: inline;
}

#topnavbar ul {
    list-style-type: none;
    margin: 35px 10px;
    padding: 0;
    overflow: hidden;
    background-color: #999999;
    position: fixed;
    top: 0;
	color: white;
}

#topnavbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px 20px;
    text-decoration: none;
}

#topnavbar li a:hover:not(.active) {
    background-color: black
}

#topnavbar .active {
    background-color: #ff3333;
}
	
#header {
  background-color: #c0c5ce;
}

#pusheen {
 background-color: #c0c5ce;
}

#container {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#navigation {
  width: 12%;
  float: left;
  background-color: white;
  text-shadow: 3px 2px #e0ebeb;
}
  
#text {
  width: 80%;
  float: right;
  background-color: white;
  padding-right: 1.5%;
  padding-left: 1.5%;
  margin-bottom: 100px;
}

a:link {
    color: grey; 
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    color: grey;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: black;
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
}

a:active {
    color: grey;
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
}
