body {
 background-color: #c0c5ce; 
}
  
#header {
  background-color: #c0c5ce;
}

#pusheen {
 background-color: #c0c5ce;
}

#container {
	width: 1200;
	margin-left: auto;
	margin-right: auto;
}

#navigation {
  width: 150px;
  float: left;
  background-color: white;
  text-shadow: 3px 2px #e0ebeb;
}
  
#text {
  width: 900px;
  float: right;
  background-color: white;
  padding-right: 30px;
  padding-left: 30px;
  margin-bottom: 100px;
}

a:link {
    color: grey; 
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    color: grey;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: black;
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
}

a:active {
    color: grey;
    background-color: transparent;
    text-decoration: none;
}
